# Ignore node_modules directory
node_modules/

# Ignore development and test files
.git
.gitignore
.env
.dockerignore
Dockerfile

# Ignore IDE and editor files
.vscode
.idea

# Ignore documentation and misc files
README.md
LICENSE
.DS_Store
